<ons-page ng-controller="DialogControll">
  <ons-toolbar>
    <div class="center">Dialog</div>
  </ons-toolbar>
  <ons-list>
   <ons-list-item ng-click="showDialog('login.html')" modifier="tappable">
     Show Dialog
   </ons-list-item>
   <ons-list-item ng-click="showModal()" modifier="tappable">
     Show Modal
   </ons-list-item>
  </ons-list>
</ons-page>

   
        <!--<input type="range" class="range range--material" style="float: right; width: 190px; margin-top: -4px;" value="30">
        <i class="zmdi zmdi-volume-up" style="font-size: 24px; opacity: 0.6"></i>
      </div>

      <p style="opacity: 0.6; font-size: 80%;">Alarm volume</p>
      <div>
        <input type="range" class="range range--material" style="float: right; width: 190px; margin-top: -4px;" value="40">
        <i class="zmdi zmdi-alarm" style="font-size: 24px; opacity: 0.6"></i>
      </div>
    </div>
  </ons-dialog>
</ons-template>-->

<!--<ons-template id="list.html">
  <ons-dialog var="dialog" cancelable>

    <ons-list>
      <ons-list-item modifier="tappable">
        Foo
      </ons-list-item>
      <ons-list-item modifier="tappable">
        Bar
      </ons-list-item>
      <ons-list-item modifier="tappable">
        Hoge
      </ons-list-item>
    </ons-list>

  </ons-dialog>
</ons-template>

<ons-template id="list">
  <ons-dialog var="dialog" cancelable>

    <ons-list>
      <ons-list-item modifier="tappable">
        Foo
      </ons-list-item>
      <ons-list-item modifier="tappable">
        Bar
      </ons-list-item>
      <ons-list-item modifier="tappable">
        Hoge
      </ons-list-item>
    </ons-list>

  </ons-dialog>
</ons-template>-->
